# Secret key
SECRET_KEY=vunoh_hr_secret_key_2026_prod

# Port
PORT=5050

# Gmail SMTP Email Notification Credentials
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=clivebillzerean@gmail.com
MAIL_PASSWORD=ltgbajgrsawzrymh
MAIL_DEFAULT_SENDER=clivebillzerean@gmail.com
